<ul>
  <li>Olympic Peninsula
    <ul>
      <li>Olympic National Park
        <ul>
          <li>Sol Duc Falls, Lake Crescent, Marymere Falls</li>
        </ul>
      </li>
      <li>La Push</li>
      <li>Neah Bay
        <ul>
          <li>Cape Flattery</li>
          <li>Shipwreck Point</li>
          <li>Shi Shi Beach</li>
        </ul>
      </li>
      <li>Bainbridge Island</li>
      <li>Poulsbo</li>
    </ul>
  </li>
  <li>Cascades
    <ul>
      <li>Lake 22 and The Ice Caves</li>
      <li>Poo Poo Point</li>
      <li>Kamikaze Falls</li>
      <li>Snow Lake</li>
      <li>Mount Si</li>
      <li>Franklin Falls</li>
      <li>Snoqualmie Falls</li>
      <li>XXX Rootbeer Drive-In</li>
      <li>Twin Peaks Diner</li>
    </ul>
  </li>
  <li>Deception Pass</li>
</ul>