<footer class="footer">
  <div class="container">
    <div class="row pt-5 mb-3 text-center d-flex justify-content-center">
      <div class="col-md-3 mb-2">
        © 2018 Andrew Davidson
      </div>
      <div class="col-md-3 mb-2">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/contact">Contact</a>
        </h6>
      </div>
      <div class="col-md-3 mb-2">
        <h6 class="text-uppercase font-weight-bold">
          <a routerLink="/about_the_author">About The Author</a>
        </h6>
      </div>
      <div class="col-md-3 mb-2">
        <span style="display: block !important; width: 320px; text-align: center; font-family: sans-serif; font-size: 12px;">
          <a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:98101.1.99999&bannertypeclick=wu_clean2day"
            title="Seattle, Washington Weather Forecast" target="_blank">
            <img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_cond&airportcode=KBFI&ForcedCity=Seattle&ForcedState=WA&zip=98101&language=EN"
              alt="Find more about Weather in Seattle, WA" width="300" />
          </a>
          <br>
          <a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:98101.1.99999&bannertypeclick=wu_clean2day"
            title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a>
        </span>
      </div>
    </div>
  </div>
</footer>