<ul>
  <li>
    <a routerLink="/souvenir_ideas">Souvenir Ideas</a>
  </li>
  <li>
    <a routerLink="/about_the_author">About The Author</a>
  </li>
  <li>
    <a routerLink="/contact">Contact</a>
  </li>
</ul>

<span style="display: block !important; width: 320px; text-align: center; font-family: sans-serif; font-size: 12px;">
  <a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:98101.1.99999&bannertypeclick=wu_clean2day"
    title="Seattle, Washington Weather Forecast" target="_blank">
    <img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_clean2day_cond&airportcode=KBFI&ForcedCity=Seattle&ForcedState=WA&zip=98101&language=EN"
      alt="Find more about Weather in Seattle, WA" width="300" />
  </a>
  <br>
  <a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:98101.1.99999&bannertypeclick=wu_clean2day"
    title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Click for weather forecast</a>
</span>