<p>A large portion of activities in Seattle can be done year-round, or close to it. That being said, the activities below are
  notable exceptions.</p>
<ul>
  <li>Spring
    <ul>
      <li>Skagit Valley Tulip Festival</li>
      <li>UW Spring Cherry Blossom Festival</li>
      <li>Restaurant Week</li>
    </ul>
  </li>
  <li>Summer
    <ul>
      <li>Berry Picking</li>
    </ul>
  </li>
  <li>Fall
    <ul>
      <li>Leavenworth Oktoberfest</li>
      <li>Dungeness crab festival</li>
      <li>Restaurant Week</li>
    </ul>
  </li>
  <li>Winter
    <ul>
      <li>Bellevue Downtown Holiday Parade</li>
      <li>Candy Cane Lane Christmas Lights</li>
      <li>Leavenworth : A Cute German Town
        <ul>
          <li>Christmas Village </li>
          <li>Ice Festival</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>