<ul>
  <li>Pike Place Market
    <ul>
      <li>Gum Wall</li>
      <li>Original Starbucks Location</li>
      <li>Fish Market</li>
    </ul>
  </li>
  <li>Underground Tour</li>
  <li>Chihuly Garden and Glass</li>
  <li>Georgetown
    <ul>
      <li> Machine House Brewery</li>
      <li> Square Knot Diner (Ed Sheeran “Shape of You” restaurant)</li>
      <li>Flip Flip, Ding Ding! Barcade Seattle Central Library</li>
      <li> Georgetown Brewing Co </li>
    </ul>
  </li>
  <li>WhirlyBall</li>
  <li>Boeing Factory Tour - see also museum of flight</li>
  <li>Fremont
    <ul>
      <li>Fremont Canal Park</li>
      <li>The Troll Statue</li>
      <li>Lenin Statue</li>
      <li>Fremont DrawBridge</li>
    </ul>
  </li>
  <li>Starbucks Reserve Roastery &amp; Tasting Room</li>
  <li>International District (Chinatown)</li>
  <li>Seattle Central Library</li>
</ul>