<nav class="navbar navbar-default navbar-fixed-side">
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="/first_trip_top_tips">Top Things To Do On Your First Trip</a>
    </li>
    <li>
      <a routerLink="/city_sights">City Sights</a>
    </li>
    <li>
      <a routerLink="/nightlife">Nightlife</a>
      <ul class="nav navbar-nav" *ngIf="isNightlife">
        <li>&emsp;
          <a routerLink="/nightlife/neighborhoods">Best Neighborhoods</a>
        </li>
        <li>&emsp;
          <a routerLink="/nightlife/craft_breweries">Craft Breweries</a>
        </li>
        <li>&emsp;
          <a routerLink="/nightlife/craft_coctails">Craft Cocktails</a>
        </li>
        <li>&emsp;
          <a routerLink="/nightlife/sugar_bombs">Sugar Bombs</a>
        </li>
        <li>&emsp;
          <a routerLink="/nightlife/nightclubs">Nightclubs</a>
        </li>
        <li>&emsp;
          <a routerLink="/nightlife/live_music">Live Music</a>
        </li>
        <li>&emsp;
          <a routerLink="/nightlife/games_and_barcades">Games &amp; Barcades </a>
        </li>
        <li>&emsp;
          <a routerLink="/nightlife/karaoke">Karaoke</a>
        </li>
        <li>&emsp;
          <a routerLink="/nightlife/german_beer">German Beer and Food</a>
        </li>
        <li>&emsp;
          <a routerLink="/nightlife/irish_pubs">Irish Pubs &amp; Co</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/outdoor_activities">Outdoor Activities</a>
      <ul class="nav navbar-nav" *ngIf="isOutdoors">
        <li>&emsp;
          <a routerLink="/outdoor_activities/water_activities">Water Activities</a>
        </li>
        <li>&emsp;
          <a routerLink="/outdoor_activities/hiking">Hiking</a>
        </li>
        <li>&emsp;
          <a routerLink="/outdoor_activities/city_parks">City Parks</a>
        </li>
        <li>&emsp;
          <a routerLink="/outdoor_activities/skiing">Skiing</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/city_from_above">See the City from Above</a>
    </li>
    <li>
      <a routerLink="/woodinville_wine_tasting">Wine Tasting in Woodinville</a>
    </li>
    <li>
      <a routerLink="/leavenworth">Leavenworth : A German Village</a>
    </li>
    <li>
      <a routerLink="/seasonal_activities">Seasonal Activities</a>
    </li>
    <li>
      <a routerLink="/restaurants">Restaurants</a>
    </li>
    <li>
      <a routerLink="/museums">Museums</a>
    </li>
    <li>
      <a routerLink="/souvenir_ideas">Souvenir Ideas</a>
    </li>
  </ul>
</nav>