<p>
  I'm not sure what to say about restaurants. I have been to quite a few, but there haven't been enough for me to really recommend
  any.
</p>

<p>The only recommendations that I can give is that eating in Seattle is expensive. I can recommend plenty of affordable meals:</p>

<ul>
  <li>Pizza
    <ul>
      <li>Sizzle Pie</li>
      <li>Big Mario's</li>
      <li>Hot Mama's</li>
    </ul>
  </li>
  <li>Thai
    <ul>
      <li>Jai Thai</li>
      <li>All the others...</li>
    </ul>
  </li>
  <li>Pho
    <ul>
      <li>Tamarind Tree</li>
    </ul>
  </li>
  <li>Kizuki Ramen</li>
</ul>

<p>Restaurant Week blah blah blah</p>