<p>
  Here are all the cool neighborhoods with lots of bars:
</p>
<ul>
  <li>Capitol Hill</li>
  <li>Belltown</li>
  <li>Fremont</li>
  <li>Ballard</li>
  <li>Pioneer Square</li>
  <li>Lower Queen Anne</li>
</ul>
<p>Although the neighborhoods mentioned above are the most popular and have the greatest selection, there are plenty of other
  smaller neighborhoods with a few bars that always have younger people.
</p>
<ul>
  <li>Greenwood</li>
  <li>Kirkland (The only Eastside neighborhood with notable nightlife)</li>
  <li>Wallingford</li>
  <li>Queen Anne Hill</li>
</ul>