<ul>
  <li>Pike Place Market</li>
  <li>Find a park with a nice view: Gasworks park, Kerry Park, Bhye Kracke Park, Boren Park, or Interlaken Park</li>
  <li>See the city from Above: Space Needle, Smith Tower, or Sky View Observatory Columbia Center, or maybe take a seaplane tour!</li>
  <li>Go see the coast:
    <ul>
      <li>Deception Pass</li>
      <li>Discovery park, Bainbridge Island, or Alki Beach/Lincoln Park if pressed for time</li>
      <li>La Push if you have a couple of days</li>
    </ul>
  </li>

  <li>Go Kayaking (or Paddleboarding) on Lake Union</li>
  <li>Go see the mountains
    <ul>
      <li>Snoqualmie Falls</li>
      <li>Franklin Falls</li>
      <li>Poo Poo Point if Franklin Falls is closed (December to April, usually)</li>
      <li>Twin Peaks Diner</li>
      <li>XXX Rootbeer Drive-In</li>
    </ul>
  </li>
</ul>