<ul>
  <li>
    <a routerLink="/nightlife/sugar_bombs">Sugar Bombs</a>
  </li>
  <li>
    <a routerLink="/nightlife/german_beer">German Beer and Food</a>
  </li>
  <li>
    <a routerLink="/nightlife/karaoke">Karaoke</a>
  </li>
  <li>
    <a routerLink="/nightlife/craft_breweries">Craft Breweries</a>
  </li>
  <li>
    <a routerLink="/nightlife/craft_coctails">Craft Cocktails</a>
  </li>
  <li>
    <a routerLink="/nightlife/irish_pubs">Irish Pubs &amp; Co</a>
  </li>
  <li>
    <a routerLink="/nightlife/neighborhoods">Popular Neighborhoods</a>
  </li>
  <li>
    <a routerLink="/nightlife/games_and_barcades">Games &amp; Barcades </a>
  </li>
  <li>321 Battle Wrestling --- Will talk about it here. Doesn't get its own page</li>
  <li>Century Ballroom--- Will talk about it here. Doesn't get its own page</li>
</ul>